
body { 
	margin: 0;
	padding: 0;
	background: #ddd; }

h1{ padding: 1vh;
	background: #da7;
	margin: 0 0 3vh 0;
	text-align: center;
	border-bottom: 1vh double #444; }

textarea {
	color: #fff;
	width: 95vw;
	height: 20vh;
	padding: 1vh;
	min-height: 75px;
	background: #335;
	margin-left: 2vh;
	border: solid #ddd; }
	
button { 
	padding: 1vh;
	font-size: 4vh;
	margin-top: 2vh; 
	margin-left: 25%;
	background: #fff;
	border-radius: 5%/10%;
	border: solid 0.5vh #ccc; }

#test { margin-left: 3vw; }
#test:hover { background: #fdd; }
#compile:hover { background: #dfd; }

