body { 	margin: 0;
	padding: 0;
	background: #ddd; }

h1{	padding: 1vh;
	background: #da7;
	margin: 0 0 3vh 0;
	text-align: center;
	border-bottom: 1vh double #444; }

textarea {
	color: #fff;
	width: 92vw;
	margin: 2vw;
	height: 20vh;
	padding: 1vw;
	background: #335;
	border: solid 0.5vh #ccc; }
	
button { 
	padding: 1vh;
	font-size: 4vh;
	background: #fff;
	border-radius: 5%/10%;
	border: solid 0.5vh #ccc; }

#test { margin-left: 2vh; }
#test:hover { background: #fdd; }
#compile:hover { background: #dfd; }

div {	display: flex;
	justify-content: center; }
