/* GENERAL config */
body {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	background: #ddd;
}

h1 {
	padding: 1vh;
	background: #da7;
	color: #114;
	margin: 0 0 3vh 0;
	text-align: center;
	border-bottom: 0.5vh double #114;
}

fieldset {
	border: solid 0.5vh #ccc;
	padding: 2vh 0.5vw 2vh 0.5vw;
	margin: 2vh 0.5vh;
	border-radius: 2vh;
	max-width: 100%;
}

legend, .tooltip {
	background-color: #da7;
	color: #114;
	padding: 3px 6px;
	border: 0.2vh solid #114;
	transition: all ease 0.3s;
}
legend:hover {
	background: #eb8;
}
legend {
	cursor: pointer;
}

#deployment_iframe {
	border: 1px solid #114;
	width: 97%;
	height: 33vh;
}

pre {
	padding: 1vw;
	min-height: 50px;
	font-family: "Lucida Console", "Courier New", 'monospace';
	white-space: pre-wrap;
	word-wrap: anywhere;
	max-width: 100%;
}

#actions_window {
	display: flex;
	justify-content: center;
}

/* Buttons */
.btn_class {
	padding: 0.7vw;
	font-size: 2vw;
	background: #fff;
	transition: all ease 0.3s;
	border: solid 0.5vh #ccc;
	border-radius: 1vh;
	margin: 0 0.5vw;
	display: flex;
}

#source_is_c:checked ~ #bt1      { background: #ccf; }
#debug:checked ~ #bt2            { background: #ccf; }
label:hover                      { background: #ddf; }
#debug:hover, #source_is_c:hover { background: #fcc; }
#test:hover     { background: #fdd; }
#compile:hover  { background: #dfd; }
#btn_help:hover { background: #dfd; }

/* CLASSES and IDs configs */
.tooltip {
	position: sticky;
	white-space: nowrap;
	display: inline;
	bottom: 1%;
	left:  100%;
}

#source-code {
	resize: none;
	overflow-y: hidden;
	overflow-x: auto;
	color: #114;
	width: calc(100% - 3vw);
	margin: 0;
	/* padding definition code 7hgdfeds Change all!!! (also index.js)*/
	padding: 1em;
	background: #fafbfc;
	border: 1px black solid;
	font-size: 100%;
	outline: none;
	font-family: "Lucida Console", "Courier New", 'monospace'; }

#color_code {
	background: #fafbfc;
	border:  1px black solid;
	margin: 0;
	/* padding definition code 7hgdfeds Change all!!! (also index.js)*/
	padding: 1em;
	position: absolute;
	top: 0px;
	left: 0px;
	width: calc(100% - 3vw);
	z-index: -1;
}

.transp {
	opacity: 0;
	transition: all ease 3s;
}
.opaque {
	opacity: 1;
	transition: all ease 0.2s;
}


::selection {
	color: #114;
	background: rgb(202, 202, 238);
}

.msg_failure {
	font-weight: bold;
	color: red;
}
.msg_success {
	font-weight: bold;
	color: green;
}

/* general lay-out */
.table {
	width: 100%;
	display: table;
}
.div_row {
	display: table-row;
}
.div_cell {
	display: table-cell;
	width: 50%;
	vertical-align: middle;
}

.div_window_source {
	padding: 0px;
	position: relative;
}
.div_window_normal {
	padding: 1vh;
}
.div_window_center {
	padding: 1vh;
	display: flex;
	justify-content: center;
}

.inc_height { min-height: 150px; }

.half {
	width: auto;
	float: left;
	max-width: 100%;
	min-width: 45vw;
}


.winbox {
    background: linear-gradient(90deg, #228, #114);
    border-radius: 12px 12px 0 0;
    box-shadow: none;
}

.winbox.min {
    border-radius: 0;
}

.wb-body {
    /* the width of window border: */
    margin: 4px;
    background: #ddd;
}

.wb-title {
    font-size: 13px;
    text-transform: uppercase;
    font-weight: 600;
}

.wb-full  { display: none }
